.tableRow{
    width: 100% !important;
}
.buttonRow:hover {
    background-color: rgb(120, 149, 236)  !important;
}
.buttonRow {
    background-color: royalblue !important;
}
.buttonRowPhone {
    margin-top: 8px !important;
    width: 50% !important;
    height: 70% !important;
    border-radius: 10px !important;
    background-color: royalblue !important;
}
.buttonRowPhone:hover {
    background-color: rgb(120, 149, 236)  !important;
}
.buttonPoint{
    background-color: royalblue !important;
    cursor:default !important;
}
.css-r7oxtk-MuiTableCell-root{
    text-align: center !important;
    width: 14% !important;
}
.repoTable{
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: solid 0.1rem rgb(120, 149, 236)!important;
    border-top: 0 !important;
    border-bottom: rgb(235, 235, 235) solid 0.5px!important;
}
.repoTablePhone{
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: solid 0.1rem rgb(120, 149, 236)!important;
    border-top: 0 !important;
    border-bottom: rgb(235, 235, 235) solid 0.5px!important;
    display: none !important;
}
.repoTableUnder{
    color: rgb(88, 127, 247) !important;
    border-radius: 0 0 10px 10px;
    background-color: rgb(243, 243, 243);
    border: solid 0.1rem rgb(120, 149, 236)!important;
    border-top: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.repoTableUnderPhone{
    color: rgb(88, 127, 247) !important;
    background-color: rgb(243, 243, 243);
    border-bottom: 0 !important;
    border-right: solid 2px !important;
    border-left: solid 2px !important;
    padding: 0 !important;
    display: none !important;
    min-height: 0 !important;
}
.iconWaitCommitLength{
    width: 20px !important;
    height: 20px !important;
}
.divWaitCommitLength{
    margin: auto !important;
    margin-top: 12% !important;
    padding-top: 5px;
    padding-bottom: 3px;
    width: 30px !important;
    height: 25px !important;
    border-radius: 10px;
    background-color: rgb(65, 105, 225);
}
.divButtonLinkRepo{
    margin: auto !important;
    margin-top: 6.5% !important;
}
.repoTableTailUnderPhone{
    border-radius: 0 0 5px 5px !important;
    border-bottom: solid 2px !important;
    color: rgb(88, 127, 247) !important;
    background-color: rgb(243, 243, 243);
    border-right: solid 2px !important;
    border-left: solid 2px !important;
    padding: 0 !important;
    display: none !important;
    min-height: 0 !important;
}
.repoTableGridLinkPhone{
    padding-top: 10px;
}
.repoTableGridPhone{
    height: 100% !important;
    color: white !important;
}
.repoTableTailGridPhone{
    border-radius: 0 0 0 5px !important;
    height: 100% !important;
    color: white !important;
}
.fa-github{
    font-size: 20px;
}
.buttonLinkRepo:hover{
    background-color: rgb(120, 149, 236)  !important;
    cursor: pointer;
}
.buttonLinkRepo{
    background-color: royalblue !important;
    border: 0;
    border-radius: 5px;
    width: 85% !important;
    height: 35px !important;
    font-size: 11px;
    user-select: none;
    display: inline-block;
    color: white;
}
.buttonLinkRepoGit:hover{
    background-color: rgb(120, 149, 236)  !important;
    cursor: pointer;
}
.exitButton{
    color: white;
    border-radius: 5px;
    font-size: 30px;
    background-color: royalblue;
    border: rgb(134, 163, 248) solid 2px;
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 99;
    outline: none;
    cursor: pointer;
}
.modalDetails{
    position: absolute !important;
}
.exitButton:hover{
    background-color: rgb(134, 163, 248) !important;
}
.detailsBox{
    position: absolute !important;
    height: 100%;
    width: 100% !important;
}
.exitButton{
    background-color: royalblue !important;
    color: white;
}
.buttonLinkRepoGit{
    background-color: royalblue !important;
    border: 0;
    width: 50% !important;
    height: 85% !important;
    border-radius: 10px !important;
    user-select: none;
    display: inline-block;
    color: white;
}
thead {
    width: 100% !important;
}
.css-1ynyhby{
    width: 100% !important;
}
.linkDetail{
    font-size: 17px;
    color: white;
}
.linkDetail:visited{
    color: white;
}

.detailButtonSlot{
    margin-left: 90%;
    width: 10%;
    background-color: royalblue;
    color: white;
    border-radius: 10px 0 0 0;
    border-left: 1px solid royalblue;
    border-bottom: 1px solid royalblue;
}
.linkPos{
    z-index: 10000 !important;
}
.activatorDetailButton{
    height: 14px;
    width: 14px;
    background-color: rgb(134, 163, 248);
    margin: 0;
    margin-left: 10%;
    margin-bottom: 3px;
    font-size: 10px;
    color: rgb(134, 163, 248);
    border: 1px solid white;
    border-radius: 3px;
    padding-left: 3.5px;
    padding-top: 0;
    padding-bottom: 5px;
}
.activatorDetailButton:active{
    background-color: royalblue;
    color: royalblue;
}
.activatorDetailButton:disabled{
    width: 0px;
    background-color: rgba(134, 134, 134, 0.603);
    border-color: rgba(134, 134, 134, 0.603);
}
@media only screen and (max-width: 840px) {
    .repoTablePhone{
        display: block !important;
    }
    .repoTable{
        display: none !important;
    }
    .repoTableUnder{
        display: none !important;
    }
    .repoTableUnderPhone{
        display: block !important;
    }
    .repoTableTailUnderPhone{
        display: block !important;
    }
}
