.formHeader{
    height: 10%;
    width: 100%;
    text-align: left;
    
}
.divHeader{
    width: 100%;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 15%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.Header{
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 100% !important;
    background-color: royalblue !important;
}
.headerPhone{
    display: none !important;
    background-color: royalblue !important;
    padding: 0 !important;
    min-height: 0px !important;
}
.fa-github-square{
    color: white;
    font-size: 60px;
}
.gridLogo{
    text-align: center;
}
.gridButton{
    display: flex;
}
@media only screen and (max-width: 780px) {
    .fa-github-square{
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 70px;
    }
}
@media only screen and (max-width: 800px) {
    .fa-github-square{
        font-size: 70px;
        margin: 1%;
    }
    .Header{
        display: none !important;
    }
    .headerPhone{
        display: block !important;
    }
}
