
.inputLabel{
    margin: 0 !important;
    border-radius: 4px;
    color: white !important;
    background-color: royalblue  !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
    background-color: rgb(95, 129, 230)  !important;
}
.inputLabelClass{
    color: white !important;
    font-size: bold !important;
    background-color: rgb(55, 95, 214) !important;
}
.inputLabelOption{
    color: white !important;
    border-top: solid 3px rgb(95, 129, 230)  !important;
    border-bottom: solid 3px rgb(95, 129, 230)  !important;
    background-color: rgb(95, 129, 230)  !important;
}
.inputLabelOption:hover{
    color: white !important;
    background-color: rgb(134, 163, 248) !important;
}
.inputLabel:hover{
    color: white !important;
    background-color: rgb(120, 149, 236)  !important;
}
.selectionSelect{
    margin: 0 !important;
    height: 40px;
    min-height: 40px !important;
    color: white !important;
}
svg{
    color: white !important;
}
fieldset{
    border: solid 0.1rem !important;
    border-color: rgb(120, 149, 236) !important;
}
.css-yf8vq0-MuiSelect-nativeInput{
    width: 80% !important;
}
