.formTop{
    padding-bottom: 30px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
.Top{
    padding: 0 !important;
}
.Top1{
    vertical-align: middle;
    text-align: left;
    padding: 0 !important;
}
.Top2{
    text-align: center;
    padding: 0 !important;
}
.Top3{
    text-align: right;
    padding: 0 !important;
}
.topPhone{
    display: none !important;
    padding: 0 !important;
}
.topPhoneLevel{
    text-align: center;
}

@media only screen and (max-width: 840px) {
    .formTop{
        padding-top: 2% !important;
        padding-bottom: 0 !important;
    }
    .Top{
        display: none !important;
    }
    .topPhone{
        display: block !important;
    }
}
@media only screen and (max-width: 600px) {
    .formTop{
        padding-top: 17% !important;
        padding-bottom: 0 !important;
    }
}

