.formBodyFirst{
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 4%;
}
.formBodySecond{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.fa-repeat{
    padding: 5%;
}

.css-18lrjg1-MuiCircularProgress-root{
    width: 150px !important;
    height: 150px !important;
    top: 50% !important;
}
.divUpdateButton{
    width: 100%;
    padding: 2%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    border-radius: 0 5px 0 0;
}
.updateButton{
    width: 15%;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(134, 163, 248);
    border: rgb(134, 163, 248) solid 1px;
}
.updateButton:hover{
    background-color: royalblue;
    border-color: royalblue;
}
.updateButton:active{
    background-color: royalblue;
    border-color: royalblue;
}
.textWait{
    color: white;
    font-size: 20px;
    font: bolder;
    padding-top: 20px;
}
.divWait{
    border: 0.5px solid rgb(120, 149, 236);
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 0 ;
    margin-top: 150px;
    background-color: rgb(65, 105, 225);
}
.iconWait{
    font-size: 40px;
}
@media only screen and (max-width: 840px) {
    .divUpdateButton{
        padding-top: 10%;
    }
    .updateButton{
        width: 40%;
    }
}
