.formBodyFirst{
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 4%;
}
.formBodySecond{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.fa-repeat{
    padding: 5%;
}
.css-1idz92c-MuiCircularProgress-svg{
    color: royalblue !important;
}
.css-18lrjg1-MuiCircularProgress-root{
    width: 150px !important;
    height: 150px !important;
    top: 50% !important;
}
.divUpdateButton{
    width: 100%;
    padding: 2%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    border-radius: 0 5px 0 0;
}
.updateButton{
    width: 15%;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(134, 163, 248);
    border: rgb(134, 163, 248) solid 1px;
}
.updateButton:hover{
    background-color: royalblue;
    border-color: royalblue;
}
.updateButton:active{
    background-color: royalblue;
    border-color: royalblue;
}
.textWait{
    color: royalblue;
    font-size: 20px;
    font: bolder;
}
@media only screen and (max-width: 600px) {
    .divUpdateButton{
        padding-top: 10%;
    }
    .formBodySecond {
        padding-left: 5%;
        padding-right: 5%;
    }
}
