.formHeader{
    height: 10%;
    width: 100%;
    text-align: left;
}

.Header{
    min-height: 100% !important;
    background-color: royalblue !important;
    border-bottom: solid 0.1rem !important;
    border-color: rgb(120, 149, 236) !important;
}
.headerPhone{
    display: none !important;
    background-color: royalblue !important;
    padding: 0 !important;
    min-height: 0px !important;
}
.fa-github-square{
    color: white;
    font-size: 60px;
}
.gridLogo{
    text-align: center;
}
.gridButton{
    display: flex;
}
@media only screen and (max-width: 780px) {
    .fa-github-square{
        font-size: 50px;
    }
}
@media only screen and (max-width: 600px) {
    .fa-github-square{
        font-size: 50px;
        margin: 1%;
    }
    .Header{
        display: none !important;
    }
    .headerPhone{
        display: block !important;
    }
}
