.formLinks{
    padding-top: 2.5%;
    width: 100%;
    text-align: center;
}
.linkSection{
    font-size: 17px;
    color: white !important;
    background-color: royalblue !important;
    text-transform: none !important;
    border-color: rgb(134, 163, 248) !important;
    min-width: 80px !important;
}
.linkSection:hover{
    color: white !important;
    background-color: rgb(95, 129, 230) !important;
}
.linkTxt{
    margin: 0 !important;
}
.fa-home{
    font-size: 20px;
}
.fa-user-plus{
    font-size: 17px;
}
.linkSectionGroup{
    border: 0.5px solid rgba(255, 255, 255, 0.575) !important;
    
    border-radius: 5px 5px 5px 5px !important;
}
@media only screen and (max-width: 600px) {
    .fa-home{
        font-size: 25px;
    }
    .fa-user-plus{
        font-size: 23px;
    }
    .linkSectionGroup{
        width: 100% !important;
        border-right: 0 !important;
        border-left: 0 !important;
        border-radius: 0 !important;
    }
    .linkSection{
        width: 50% !important;
    }
}

