.formLinks{
    width: 65%;
    padding: 4px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 26%;
}
.link{
    font-size: 17px;
    color: rgb(84, 119, 221) !important;
    background-color: rgb(168, 190, 255) !important;
    text-transform: none !important;
    border-color: rgb(134, 163, 248) !important;
}
.link:hover{
    color: white !important;
    background-color: royalblue !important;
}
.linkTxt{
    margin: 0 !important;
}
