.formLinks{
    padding-top: 1%;
    width: 100%;
    padding-right: 5%;
    text-align: right !important;
}
.linkSection{
    font-size: 17px;
    color: white !important;
    background-color: royalblue !important;
    text-transform: none !important;
    border-color: rgb(134, 163, 248) !important;
    min-width: 80px !important;
    padding: 0 !important;
}
.linkSection:hover{
    color: white !important;
    background-color: rgb(95, 129, 230) !important;
}
.linkTxt{
    margin: 0 !important;
}
.fa-home{
    padding-top: 3px;
    color: white !important;
    font-size: 20px;
}
.fa-user{
    padding-top: 4px;
    color: white !important;
    font-size: 18px;
}
.fa-users{
    padding-top: 5px;
    color: white !important;
    font-size: 17px;
}
.fa-user-plus{
    padding-top: 5px;
    color: white !important;
    font-size: 17px;
}
.fa-sign-out{
    padding-top: 4px;
    color: white !important;
    font-size: 20px;  
}
.buttonLink{
    padding-top: 8px;
    width: 100%;
    height: 100%;
}
.linkSectionGroup{
    border: 0.8px solid rgba(255, 255, 255, 0.575) !important;
    
    border-radius: 5px 5px 5px 5px !important;
}


@media only screen and (max-width: 800px) {
    .fa-home{
        font-size: 25px;
    }
    .fa-user{
        font-size: 22px;
    }
    .fa-user-plus{
        font-size: 21px;
    }
    .linkSectionGroup{
        width: 100% !important;
        border-right: 0 !important;
        border-left: 0 !important;
        border-radius: 0 !important;
    }
    .linkSection{
        width: 50% !important;
    }
    .formLinks{
        padding: 0;
    }
}

