.TotRepos{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    margin: 0;
    vertical-align: top;
    min-width: 80%;
    border-left: 0 !important;
}
.TotReposCell{
    text-align: center;
    padding: 7px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    position: relative;
    cursor: text;
    vertical-align: middle !important;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
    color: white !important;
    background-color: royalblue  !important;
    height: 40px;
    min-height: 40px !important;
    color: white !important;
    width: 100% !important;
    border: solid 0.1rem !important;
    border-color: rgb(120, 149, 236) !important;
}
@media only screen and (max-width: 600px) {
    .TotRepos{
        min-width: 100% !important;   
    }
}