.cardDetailsTable{
    color: rgb(88, 127, 247) !important;
    border-bottom: 0 !important;
    border-left: solid 2px !important;
    border-top:  solid 0.5px rgb(173, 189, 236)!important;
    padding: 0 !important;
    min-height: 0 !important;
    background-color: white;
    text-align: center !important;
}
.cardDetails{
    text-align: center !important;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    align-content: center;
    justify-content: center;
    align-items: center !important;
    padding-top: 4%;
    padding-bottom: 4%;
}
.cardDetailsContent{
    text-align: center !important;
    border-right: solid 2px !important;
    border-color: royalblue !important;
    height: 600px !important;
    overflow: auto !important; 
}
.loadingGrid{
    text-align: center !important;
}
.cardDetailsColonumLeft{  
    text-align: center !important;
    color: black !important;
}
.cardDetailsTableFinal{
    color: rgb(88, 127, 247) !important;
    border: solid 2px !important;
    border-top:  solid 0.5px rgb(173, 189, 236)!important;
    padding: 0 !important;
    min-height: 0 !important; 
    height: 15px;
    border-radius: 0 0 5px 5px;
    background-color: white;
}
.divWaitCommits{
    margin: auto;
    text-align: center;
    width: 200px;
    border: 0.5px solid rgb(120, 149, 236);
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 0 ;
    margin-top: 150px;
    background-color: rgb(65, 105, 225);
}
.fa-dot-circle-o{
    padding: 8px;
}
.cardDetailsTableHead{
    width: 100% !important;
    color: white !important;
    background-color: royalblue !important;
    padding: 0 !important;
    text-align: center !important;
    min-height: 0 !important; 
    height: 50px !important;
    border-radius: 5px 5px 0 0;
}
@media only screen and (max-width: 800px) {
    .cardDetails{
        padding-top: 15%;
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }
}
@media only screen and (max-width: 600px) {
    .cardDetails{
        padding-top: 20%;
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }
}