.formTable{
    width: 100%;
    margin-bottom: 30px;
    padding-top: 25px;
}
.formTablePhone{
    width: 100%;
    margin-bottom: 30px;
    padding-top: 8%;
    display: none !important;
}
.css-a5rdam-MuiGrid-root>.MuiGrid-item{
    padding-left: 0 !important;
}
.css-bsph2u-MuiTableCell-root {
    text-align: center !important;
}
.headTableGrid{
    text-align: center !important;
}
.headTable{
    background-color: royalblue !important;
    color: white !important;
    border-radius: 5px 5px 0 0 !important;
    border: solid 0.1rem!important;
    border-bottom: 0 !important;
    border-color: rgb(120, 149, 236) !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.tailTable{
    border-radius: 0 0 5px 5px !important;
    border: solid 0.1rem!important;
    border-top: 0 !important;
    border-color: rgb(120, 149, 236) !important;
    min-height: 15px !important;
}
.css-rqglhn-MuiTable-root{
    border-radius: 5px !important;
}
.css-1q1u3t4-MuiTableRow-root {
    border-radius: 5px !important;
}
@media only screen and (max-width: 840px) {
    .formTable{
        display: none !important;
    }
    .formTablePhone{
        display: block !important;
    }
}
