
.cardDetailsTableDeatils{
    font-size: 16px;
    color: rgb(88, 127, 247) !important;
    border-bottom: 0 !important;
    border-left: solid 2px !important;
    padding: 0 !important;
    min-height: 0 !important;
    background-color: rgb(241, 241, 241);
    text-align: center !important;
}

.categoryDetail{
    margin-left: auto !important;
    margin-right: auto !important;
    display: inline-block !important;
    vertical-align: middle !important;
    border-radius: 5px;
    color: white;
    width: 150px;
    background-color: rgb(99, 132, 230);
}
.loadingGrid{
    text-align: center !important;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: inset 0 0 5px grey;
    border-radius: 5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(37, 73, 180, 0.904);
    border-radius: 5px;
  }
.divWaitCommits{
    margin: auto;
    text-align: center;
    width: 200px;
    border: 0.5px solid rgb(120, 149, 236);
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 0 ;
    margin-top: 150px;
    background-color: rgb(65, 105, 225);
}

.fa-dot-circle-o{
    padding: 8px;
}

@media only screen and (max-width: 800px) {
    .cardDetailsTableDeatils{
        font-size: 12px;
    }
}
@media only screen and (max-width: 600px) {
    .categoryDetail{
        width: 110px;
    }
    .cardDetailsTableDeatils{
        font-size: 10px;
    }
}