.TotRepos{
    width: 35%;
    height: 20px;
    margin-top: 10px;
    padding-top: 2px;
    margin-left: 3%;
    padding-bottom: 2px;
    margin-bottom: 10px;
    border: green solid 1px;
}
.ulSearch{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.liSearch1{
    width: 70%;
}
.liSearch2{
    width: 30%;
}
.divSearch{
    width: 80%;
    border:sandybrown solid 1px;
    margin-top: 10px;
}
.searchBar{
    width: 72%;
    border:gray solid 1px;
    margin-left: 10px;
    margin: 6px;
}