.divSearch{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    margin: 0;
    vertical-align: top;
    min-width: 80%;
    height: 40px !important;
}
.iconSlot{
    margin-left: 3% !important;
    margin-right: 3% !important;
    padding: 0 !important;
}
.inputTextField{
    width: 88% !important;
    height: 37px !important;
    color: white !important;
}
.searchSlot{
    margin: 0 !important;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    position: relative;
    cursor: text;
    text-align: right !important;
    vertical-align: middle !important;
    border-radius: 4px;
    color: white !important;
    background-color: royalblue  !important;
    height: 40px !important;
    color: white !important;
    width: 99.4% !important;
    border: solid 0.1rem !important;
    border-color: rgb(120, 149, 236) !important;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

label{
    padding-top: 0 !important;
    color: white !important;
}

input{
    color: white !important;
    padding: 0px !important;
    padding-left: 5px !important;
    width: 100% !important;
}
@media only screen and (max-width: 840px) {
    .divSearch{
        min-width: 100% !important;   
    }
    .inputTextField{
        width: 90% !important;
    }
    .searchSlot{
        box-shadow: 0 10px 10px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%) !important;
    }
}